@media (min-width: 991px) {
  .container {
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }

}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}


@media screen and (max-width: 991px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@import "elements/buttons";
