/*--------------footer start-------------*/
.footer-wrap {
  display: flex;
  flex-direction: column;
  background-color: #242536;

  a {
    text-decoration: none;
    color: #fff;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    .footer-top__logo {
      img {
        height: 50px;
        width: auto;

        @include tablet_991 {
          height: 30px;
        }
      }
    }

    .footer-top__list {
      display: flex;
      gap: rem(45px);

      @include desktop1200 {
        display: none;
      }

      .footer-list__item {
        .footer-list__link {
          font-family: $InterRg;
          font-weight: 400;
          font-size: 20px;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    padding: 65px 0;

    @include tablet_991 {
      flex-direction: column;
      padding: 24px 0 70px 0;
    }

    .footer_copyright {
      font-family: $InterRg;
      font-weight: 400;
      font-size: 10px;
      color: #fff;
      opacity: 0.5;

      &.desc-block {
        @include tablet_991 {
          display: none;
        }
      }

      &.mob-block {
        display: none;

        @include tablet_991 {
          display: block;
          max-width: 330px;
        }
      }
    }

    .opacity-txt {
      display: block;
      font-family: $InterBd;
      font-weight: 700;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      opacity: 0.5;
      white-space: nowrap;
    }

    .footer-bottom__left {
      display: flex;
      width: 55%;
      justify-content: space-between;

      @include tablet_991 {
        width: 100%;
      }

      .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 20px;

        .notice {
          display: flex;
          flex-direction: column;
          gap: 25px;

          @include tablet_991 {
            display: none;
          }

          .notice__link {
            font-family: $InterMd;
            font-weight: 500;
            font-size: 14px;
            display: inline-flex;
          }
        }

        .callback {
          @include tablet_991 {
            margin-bottom: 40px;
          }

          .opacity-txt {
            margin-bottom: 20px;
          }

          .btn-red {
            font-family: $InterMd;
            font-weight: 500;
            font-size: 16px;
            padding: 24px 62px;
            max-width: max-content;

            @include tablet_991 {
              padding: 16px 22px;
              font-family: $InterRg;
              font-weight: 400;
              font-size: 14px;
            }
          }
        }
      }

      .footer-menu {
        margin-right: 20px;

        @include tablet_991 {
          display: none;
        }

        .footer-menu__list {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .footer-menu__item {
            &:first-child {
              .footer-menu__link {
                font-family: $InterExBd;
                font-weight: 800;
                font-size: 14px;
                text-transform: uppercase;
              }
            }

            .footer-menu__link.bold-item {
              font-family: $InterExBd;
              font-weight: 800;
              font-size: 14px;
              text-transform: uppercase;
              white-space: nowrap;
            }
          }

          .footer-menu__link {
            font-family: $InterRg;
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
    }

    .footer-bottom__right {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      justify-content: space-between;
      width: 16%;

      @include tablet_991 {
        width: 100%;
      }

      .opacity-txt {
        margin-bottom: 10px;
      }

      .contact-email {
        @include tablet_991 {
          margin-bottom: 40px;
        }
      }

      .contact-tel {
        display: flex;
        flex-direction: column;

        a:not(:last-child) {
          margin-bottom: 10px;
        }

        @include tablet_991 {
          margin-bottom: 40px;
        }
      }

      .contact-social {
        .social-icon__wrap {
          display: flex;
          gap: 25px;
          align-items: center;
          justify-content: space-between;
          width: 132px;
        }

        @include tablet_991 {
          margin-bottom: 40px;
        }
      }
    }
  }
}
/*--------------footer end-------------*/
